@{
    ViewData["Title"] = "Welcome to Mexican Restaurant";
    ViewData["MetaDescription"] = "Discover the authentic taste of Mexico at our restaurant. Order delicious tacos, burritos, and more";
    ViewData["MetaKeywords"] = "Mexican food, tacos, burritos, authentic Mexican restaurant, order online, Mexican cuisine";
}

<main>
    <section class="full-width-home">
        <div class="home-content">
            <h1 class="text-success">Mexican Restaurant</h1>
            <h2 style="color:#2C3E50">Authentic Mexican Taste</h2>
            <p style="color:#2C3E50">Order your favorite tacos, burritos, and more!</p>
            <a asp-controller="Order" asp-action="Create" class="btn btn-lg btn-danger">Explore Menu</a>
        </div>
    </section>
</main>

<link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />