@model MexicanRestaurant.WebUI.ViewModels.OrderViewModel
@{
    int cartCount = Model.OrderItems?.Sum(item => item.Quantity) ?? 0;
}
<i class="bi bi-cart2"></i>
<span class="position-absolute start-100 translate-middle badge rounded-pill bg-success">
    @cartCount
    <span class="visually-hidden">Cart Quantity</span>
</span>
