@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="text-center p-4 shadow rounded bg-light">
                <i class="bi bi-check-circle-fill text-success" style="font-size: 3rem;"></i>
                <h2 class="mt-3 text-success">Thank you for registering!</h2>

                @if (Model.DisplayConfirmAccountLink)
                {
                    <p class="mt-3">
                        This app does not currently have a real email sender configured. For development purposes, confirm your account manually:
                    </p>
                    <a class="btn btn-outline-success mt-2" id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
                }
                else
                {
                    <p class="mt-3">
                        Please check your email inbox and confirm your account by clicking the link we sent you.
                    </p>
                }

                <hr />
                <a asp-page="/Account/Login" class="btn btn-success mt-3">Back to Login</a>
            </div>
        </div>
    </div>
</div>


