@model IEnumerable<MexicanRestaurant.Core.Models.Product>
@{
    ViewData["Title"] = "Mexican Restaurantuct Menu Items";
}

<h1>@ViewData["Title"]</h1>
<p>Welcome to the Products page!</p>
<a asp-action="AddEdit" asp-controller="Product" class="btn btn-primary">Create New Item</a>
<div class="row">
    @foreach (Product product in Model)
    {
        <div class="col-md-4">
        <div class="card mb-3">
            <div class="card-header">
                 <h2>@product.Name</h2>
            </div>
              <div class="card-body">
                <div>
                   <img src="@Url.Content("~/images/" + product?.ImageUrl)" class="card-img-top fixed-image-height" alt="@product?.Description" />
                </div>
                 <p>@product?.Description</p>
                 <p>@product?.Category</p>
                 <p>Price: @product?.Price.ToString("C")</p>
                 <p>Quantity In Stock: @product?.Stock</p>
              </div>
        </div>
        </div>
    }
</div>